<h1>List of Cuisines:</h1>

  <ul>
    #foreach($cuisine in $cuisines)

      <li><a href="/cuisines/$cuisine.getCuisineId()">$cuisine.getCuisineType()</a><li>

        #end
  </ul>

  <form action='/cuisines' method='post'>
    <div class='form-group'>
      <label>add new type of cuisine</label>
      <input type="text" name="newCuisine" id="newCuisine" class="form-control">
    </div>
    <button type="submit" class='btn'>Submit</button>
  </form>
